/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


    /*----------- BODY --------------*/



    /*----------- HEADER --------------*/
    header img {
        width: 75px;
    }

    header h1 {
        font-size: 4rem;
    }

    header h2 {
        font-size: 1.5rem;
    }


    /*----------- NAVIGATION --------------*/
    nav button {
        display: none;
    }

    nav ul.hide {
        display: block;
    }

    nav ul {
        margin-left: 2%;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        padding: .8rem 1rem;
        border-top: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
    }


    /*----------- MAIN --------------*/

    .reserve {
        position: absolute;
        top: 50px;
        left: 50px;
        width: 300px;
        height: auto;
    }

    .weather {
        width: 100%;
    }

    section.weathersummary {
        width: 100%;
        text-align: center;
        padding: 1rem;
        border-radius: 5px 5px 0px 0px;
    }

    .forecast {
        float: right;
    }

    section#forecast {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    section#forecast div {
        text-align: center;
        background-color: transparent;
        border: solid;
        border-color: #9a1619;
        border-right: none;
        padding: 12px;
        padding-top: 30px;
    }

    section#forecast div:last-child {
        border-right: solid;
    }

    section#forecast p {
        color: #9a1619;
        font-size: 2rem;
        margin: 0px;
        padding: 1rem;
        margin-top: 20px;
    }

    section#forecast span {
        color: #9a1619;
        font-size: 1.5rem;
        padding: 10px;
    }

    section#forecast img {
        padding-bottom: 20px;
        width: 40%;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    .fullcontact {
        display: flex;

    }

    .contactinfo {
        display: flex;
    }

    .address {
        grid-column: 1/3;
        margin: 10px;
    }
    
    .numemail {
        margin: 10px;
        grid-column: 3/5;
    }

    iframe {
        display: block;
        width: 300px;
        height: 200px;
        margin-left: 50px;
        margin-bottom: 50px;
    }

    td {
        padding: 8px 10px;
    }

    /*----------- FOOTER --------------*/

}

/* end of media query */