/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Brandon Grotesque, sans-serif;
}

div#headWrap {
    background-color: #514663;
}

/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    color: white;
    grid-template-columns: 110px auto;
}

header img {
    float: left;
    margin-right: 10px;
    width: 50px;
}

header h1 {
    margin: 0;
    font-size: 1.3rem;
}

header h2 {
    margin: 0;
    font-weight: normal;
    font-size: 1rem;
}

/*----------- NAVIGATION --------------*/

div#navWrap {
    background-color: #4D5382;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: white;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li.active a {
    background-color: #658E9C;
    color: white;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

nav ul.hide {
    display: none;
}

/*----------- MAIN --------------*/

main {
    padding: 0 2%;
    min-height: 10rem;
    color: #514663;
}

div#reminder {
    background-color: #4D5382;
    border-radius: 0px;
}

div.showme {
    display: block;
}

div.hideme {
    display: none;
}

.herodiv {
    position: relative;
    width: 100%;
    height: auto;
    background-color: transparent;
    border: transparent;
    margin-bottom: 10px;
    
}

picture img {
    border-radius: 5px;
    width: 100%;
    
}

section.weathersummary {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
    padding: .5rem;
    border-radius: 5px;
    background-color: #4D5382;
    opacity: .8;
    color: white;
}

.five {display: none;}

section.forecast {
    display: none;
}

.article {
    background-color: transparent;
    padding: 1rem;
    border-radius: 5px;
    color: #4D5382;
    font-size: 16px;
    margin: 10px;
}

.article img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 10px;
}

.article p {
    margin: 10px;
}

.article h3 {
    margin: 10px;
}

.contact {
    background-color: #658E9C;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    margin: 20px;
}

.contactinfo {
    display: flex;
}

.address {
    margin: 10px;
}

.numemail {
    margin: 10px;
}

iframe {
    display: block;
    width: 100%;
    height: 200px;
}

/*----------- FOOTER --------------*/
footer {
    padding: .5rem 2%;
    text-align: center;
    background-color: #4D5382;
    color: white;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;

}