@import url("https://use.typekit.net/wvz7cjj.css");

:root {
    --primary-color: #153243;
    --secondary-color: #B4B8AB;
    --accent1-color: #284B63;
    --accent2-color: #F4F9E9;
    --primary-font: "Brandon Grotesque";
    --paragraph-font: Brandon Grotesque, Helvetica, sans-serif;
}

body {
    background-color: white;
    font-size: 16px;
}

header,
main,
footer {
    max-width: 100%;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--primary-font);
}

header {
    color: #F4F9E9;

    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: 3rem;
    margin-top: 80px;
    margin-bottom: 10px;
    margin-left: 10px;
    line-height: 1em;
}

h2 {
    font-weight: normal;
}

p {
    color: #153243;
    font-family: var(--primary-font);
    font-size: 18px;
}

.hero {
    width: 100vw;
    height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 380px;
    text-align: center;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1571188654248-7a89213915f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.hero .btn {
    display: block;
    width: 100px;
    background-color: #F4F9E9;
    padding: 5px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
    color: #153243;
    text-decoration: none;
    font-size: 16px;
    font-family: var(--primary-font);
    border-radius: 10px;
}

.hero .btn:hover {
    background-color: #B4B8AB;
}

.nav {
    position: absolute;
    margin: 20px;
    width: auto;
    top: 0;
    font-family: var(--primary-font);

}

.topnav {
    overflow: hidden;
    border-radius: 10px;
}

.topnav a {
    float: left;
    color: #F4F9E9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #F4F9E9;
    color: #153243;
}

@media screen and (max-width: 550px) {
    .home-grid {
        display: block;
    }
}

.home-grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    margin: 10px;
}

.home-grid img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.home-first-img,
.home-second-img,
.home-third-img {
    padding: 10px 0px;
}

.home-first-img {
    grid-column: 1/3;
}

.goals {
    grid-column: 3/5;
    padding: 10px;
    margin-top: 100px;
    margin-left: 50px;
}

.home-headline-1 {
    color: var(--primary-color);

}

.home-paragraph-1 {
    color: #153243;
    font-family: var(--paragraph-font);
}

.home-second-img {
    grid-column: 4/6;
    grid-row: 2/3;
}

.plan {
    grid-column: 2/4;
    padding: 10px;
    margin-top: 100px;
    margin-right: 50px;
}

.home-headline-2 {
    color: var(--primary-color);
    text-align: right;
}

.home-paragraph-2 {
    color: #153243;
    font-family: var(--paragraph-font);
    text-align: right;
}

.home-third-img {
    grid-column: 1/3;
    grid-row: 3/4;
}

.shape {
    grid-column: 3/5;
    padding: 10px;
    margin-top: 100px;
    margin-left: 50px;
}

.home-headline-3 {
    color: var(--primary-color);
    text-align: left;
}

.home-paragraph-3 {
    color: #153243;
    font-family: var(--paragraph-font);
}

.testimonials {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    font-family: var(--primary-font);
    color: #153243;
    margin-bottom: 50px;
}

.testimonials h2 {
    grid-column: 4/6;
    text-align: center;
}

.quote-1 {
    grid-column: 1/3;
    text-align: left;
    border: 1px solid #153243;
    padding: 20px;
    border-radius: 10px;
    margin-left: 40px;

}

.quote-2 {
    grid-column: 4/6;
    border: 1px solid #153243;
    padding: 20px;
    border-radius: 10px;
}

.quote-3 {
    grid-column: 7/9;
    border: 1px solid #153243;
    padding: 20px;
    border-radius: 10px;
    margin-right: 40px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #EDEEF0;
    color: #153243;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--primary-font);
}

input[type=submit]:hover {
    background-color: #B4B8AB;
}

.contact {
    text-align: center;
    color: #153243;
}

.container {
    border-radius: 5px;
    background-color: #153243;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    color: #F4F9E9;
    font-family: var(--primary-font);
    margin-bottom: 20px;
}

@media screen and (max-width: 550px) {
    .recipe-grid {
        display: block;
    }
}

.recipe-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(7, 1fr);
    margin: 10px;
    text-align: center;
}

.daily-recipe {
    text-align: center;
    color: #153243;
    margin-top: 40px;
}

.recipe-grid img {
    max-width: 100%;
    border-radius: 10px;
}

.card-1 {
    width: 280px;
    padding: 20px;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    grid-column: 3/4;
}

.card-2 {
    width: 280px;
    padding: 20px;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    grid-column: 4/5;
}

.card-3 {
    width: 280px;
    padding: 20px;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    grid-column: 5/6;
}


.recipe-grid p {
    padding: 0px 20px 0px 10px;
    font-size: 16px;
    line-height: 24px;
}

.viewButton {
    border-radius: 4px;
    border: 1px solid #153243;
    padding: 5px 7px;
    font-size: 13px;
    color: #153243;
    float: left;
    font-family: var(--primary-font);
}

.buttons {
    padding: 5px 10px;
    margin-bottom: 50px;
    background-color: transparent;
}

@media screen and (max-width: 550px) {
    .d-story {
        display: block;
    }
}

.story h2 {
    text-align: center;
    color: #153243;
}

.d-story {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(7, 1fr);
    margin: 10px;
    margin-bottom: 80px;
}

.d-story img {
    border-radius: 10px;
}

.dwight-img {
    grid-column: 2/3;
}

.snippet {
    grid-column: 3/7;
}

.readButton {
    border-radius: 4px;
    border: 1px solid #153243;
    padding: 5px 7px;
    font-size: 13px;
    color: #153243;
    float: left;
    font-family: var(--primary-font);
}

@media screen and (max-width: 550px) {
    .about-us {
        display: block;
    }
}

.about-us h2 {
    color: #153243;
    text-align: center;
    margin-top: 50px;
}

.our-story {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(7, 1fr);
    margin: 10px;
}

.our-story img {
    border-radius: 10px;
}

.canyon-img {
    border-radius: 10px;
    grid-column: 2/3;
    margin-top: 50px;
}

.our-story-p {
    grid-column: 3/7;
}

footer {
    background-color: #153243;
    color: #EDEEF0;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 2.5px;
    margin-top: 50px;
}

footer p {
    font-family: var(--primary-font);
    font-size: 0.7em;
    justify-content: left;
    padding-left: 1em;
    grid-column: 1/3;
    color: #EDEEF0;
}

footer a {
    color: #EDEEF0;
    font-family: var(--primary-font);
}

.social {
    grid-column: 5/6;
    padding-right: 1em;
}

footer img {
    padding: 0.5px;
    width: 20px;
    height: auto;
    margin-left: 5px;
    justify-content: right;
}