/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Brandon Grotesque, sans-serif;
}

div#headWrap {
    background-color: #514663;
}

/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    color: white;
    grid-template-columns: 110px auto;
}

header img {
    float: left;
    margin-right: 10px;
    width: 50px;
}

header h1 {
    margin: 0;
    font-size: 1.3rem;
}

header h2 {
    margin: 0;
    font-weight: normal;
    font-size: 1rem;
}

/*----------- NAVIGATION --------------*/

div#navWrap {
    background-color: #4D5382;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: white;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li.active a {
    background-color: #658E9C;
    color: white;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

nav ul.hide {
    display: none;
}

/*----------- MAIN --------------*/

main {
    padding: 0 2%;
    min-height: 10rem;
    color: #514663;
}

.card {
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    padding: 10px;
}

.description {
    padding: 2px 16px;
    justify-content: center;
  }

img {
    border-radius: 5px 5px 0 0;
    width: 100%;
  }

p {
    padding: 10px;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

/*----------- FOOTER --------------*/
footer {
    padding: .5rem 2%;
    text-align: center;
    background-color: #4D5382;
    color: white;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;

}